# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment & temporary files
.env
.venv
env/
venv/
ENV/
*.log
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Collected staticfiles (generated at build time on Render)
staticfiles/
